# Node / Electron
node_modules/
dist/
out/
release/
*.log

# Android / Gradle
.gradle/
build/
local.properties
*.apk
*.aab
*.keystore
*.jks

# 打包产物
*.exe

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Store
